<!DOCTYPE html>
<html>
<head>
    <title>addPost page</title>
        
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"  href="../list.css">
      <script src="../firebase.js"></script> 
</head>
<body ng-controller="AddPostCtrl">
        <nav class="navbar navbar-inverse">
                 <div class="container-fluid row" style="width:100% ;background-color: #333">
                     <ul class="nav navbar-nav"style="display:inline">
                        <li><a href="../todo/todo.html">To do</a></li>
                        <li><a href="../navigation/navigation.html">Navigation</a></li>
                        <li><a href="../register/Add_sales_man.html">Add salesman</a></li>
                         <li><a href="../welcome/welcome.html">logout</a></li>
                    </ul>
                </div>
        
            </nav>

    <div class="container"></div>
    <form role="form" name="postForm" ng-submit="createPost()"novalidate="">
        <legend>create Post</legend>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group"ng-class="{'has-error':postForm.titleTxt.$invalid && postForm.titleTxt.$touched}">
                    <label for="titleTxt">Post title</label>
                    <input type="text" name="titleTxt" class="form-control" placeholder="Title" ng-minlength="5"ng-model="article.titleTxt" required="">
                    <small class="help-block" ng-show="postForm.titleTxt.$error.minlength && postForm.titleTxt.$touched">enter a valid post title</small>
                </div>
                <div class="form-group"ng-class="{'has-error':postForm.postTxt.$invalid && postForm.postTxt.$touched}">
                        <label for="postTxt">Post </label>
                        <textarea  name="postTxt" class="form-control" placeholder="post"ng-model="article.postTxt"ng-minlength="20" required="" ></textarea>
                        <small class="help-block" ng-show="postForm.postTxt.$error.minlength && postForm.postTxt.$touched">enter a valid post title</small>
                    </div>
                    <divclass="form-group">
                            <button type="submit" class="btn btn-primary" ng-disabled="postForm.$invalid">Add post</button>
                    </div>
                    
            </div>
        </div>
    </form>
    <div class="container">
        <p>ng-repeat="article in  Articles"</p>
                       <div  ng-repeat="article in Articles" class="row">
                <div class="col-md-12 well well sm">
                        <span>{{article.title}}</span>
                                  <span> {{article.post}} </span>
                <!--<h4  >{{x}}</h4>-->
                <button type="submit" class="btn btn-sm btn-primary"data-toggle="modal" data-target="#editModal" >edit</button>
                <button type="submit" class="btn btn-sm btn-danger"data-toggle="modal" data-target="#deleteModal">delete</button>

               
            </div>
        </div>
        <div  class="modal fade " id="deleteModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"></div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete the post?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-danger">Delete</button>
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
    
          
</body>

</html>